* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.redes {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.redes img {
    width: 65px;
    height: 50px;
}

.redesInicio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.redesInicio img {
    width: 65px;
    height: 50px;
}

.redes img:hover {
    transform: scale(1.3,1.3);
}

.redesInicio img:hover {
    transform: scale(1.3,1.3);
}

.fondoInicio {
    background-image:url(https://wallpaperaccess.com/full/27583.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    position: relative;
    bottom: -580px;
    right: -1445px;
    height: 60px;
    width: 220px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.btn:hover {
    border:rgb(255, 255, 255) 4px double;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
}

.dlc {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    margin-top: 14px;
    padding: 16px;
}

.imagenCarta {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%
}

.imagenCarta:hover {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    transform: scale(1.1,1.1);
}

.cartasSecundarias {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-block: 20px;
}

.card-img-top:hover {
    border: 1px solid #ddd;
    border-radius: 2px;
}

.card-img:hover {
    border: 1px solid #ddd;
    border-radius: 2px;
}


body {
    background-color: rgb(5, 34, 41);
}

.raids {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    padding: 18px;
    margin: 10px;
}

.infoClases {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    margin: 4px;
    justify-content: center;
}

h2, h4 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 12px;
}

.info {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    margin: 4px;
}

.planetas {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    padding: 18px;
    margin: 10px;
}