* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.redes {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.redes img {
    width: 65px;
    height: 50px;
}

.redes img:hover {
    transform: scale(1.3,1.3);
}

.fondoImagen {
    background-image: url(https://images.alphacoders.com/121/1215826.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-widht:768px) {
    .fondoImagen {
        width: 10px;
    }
}

.dlc {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    margin-top: 14px;
    padding: 16px;
}

.imagenCarta {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%
}

.imagenCarta:hover {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    transform: scale(1.1,1.1);
}

.cartasSecundarias {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-block: 20px;
}

.card-img-top:hover {
    border: 1px solid #ddd;
    border-radius: 2px;
}

.card-img:hover {
    border: 1px solid #ddd;
    border-radius: 2px;
}


body {
    background-color: rgb(5, 34, 41);
}

.raids {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    padding: 18px;
    margin: 10px;
}

.infoClases {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    margin: 4px;
    justify-content: center;
}

h2, h4 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 12px;
}

.info {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    margin: 4px;
}

.planetas {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    padding: 18px;
    margin: 10px;
}

.nav-item {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}